

<div class="container">
  <div class="emp-navbar">
    <h2>Employees</h2>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{departmentName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let dept of departments" (click)="changeSortOrder(dept)">
          {{dept?.deptName}}
        </button>
        <button ngbDropdownItem (click)="getEmployees()">All</button>
      </div>
    </div>
  </div>
  <div class="cards">
    <mat-card *ngFor="let data of employees" class="example-card">
      <img class="profile" mat-card-sm-image src="{{data.imageUrl}}" >
      <mat-card-title-group>
        <mat-card-subtitle><b>{{data.firstName}} {{data.lastName}}</b></mat-card-subtitle>
        <mat-card-subtitle>{{data.position}}</mat-card-subtitle>
        <mat-card-subtitle>
          <span class="chip">{{data.deptId | deptName : departments}}</span>
          <span class="chip" *ngIf="data.married">{{data.married ? 'Married' : ''}}</span>
          <span class="chip emp-vip" *ngIf="isVipEmploee(data)">{{isVipEmploee(data) ? 'VIP' : ''}}</span>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>

<div class="emp-pagination d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getPremiumData();">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPremiumData();">
    <option [ngValue]="2">2 records per page</option>
    <option [ngValue]="4">4 records per page</option>
    <option [ngValue]="6">6 records per page</option>
  </select>
</div>